.registrations-top
  = link_to image_tag('material/logo/logo.png', size: "200x100", alt: "test" ,class: "icon1"), "/"
  = form_for(@user, url: user_registration_path) do |f|
    -# ここでurlを指定することで、submitボタンが押された時に次のページへ遷移してくれる。
    = render "devise/shared/error_messages", resource: @user
    .registrations-middle-top
      %p 会員情報入力
    .registrations-middle-bottom
      .field
        = f.label :name, "ニックネーム", class: "field-font"
        %span 必須
        %br/
        = f.text_field :name, placeholder: "例) フリマ太郎", style:"width:210px;"
      .field
        = f.label :email, "メールアドレス", class: "field-font"
        %span 必須
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可", style:"width:210px;"
      .field
        = f.label :password, "パスワード", class: "field-font"
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} 文字以上)
        %span 必須
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder: "xxxxxxx", style:"width:210px;"
      .field
        = f.label :password_confirmation, "パスワード（再確認）", class: "field-font"
        %span 必須
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "xxxxxxx", style:"width:210px;"
      %br/
      .actions
        = f.submit "次へ", class:"registration-btn"
      = render "devise/shared/links"
  = image_tag src='material/logo/logo-white.png', size: "200x100", alt: "test",class:"icon2"


  -# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|