.registrations-top
  = image_tag 'material/logo/logo.png', size: "200x80", alt: "test" ,class: "icon1"
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .registrations-middle-top
      %p 会員情報入力
    .registrations-middle-bottom
      .field
        = f.label :"ニックネーム", class: "field-font"
        %span 必須
        %br/
        = f.text_field :name, placeholder: "例) フリマ太郎", style:"width:210px;"
      .field
        = f.label :"メールアドレス", class: "field-font"
        %span 必須
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可", style:"width:210px;"
      .field
        = f.label :"パスワード", class: "field-font"
        - if @minimum_password_length
          %em
            (7文字以上)
            -# (#{@minimum_password_length} 文字以上)
        %span 必須
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder: "xxxxxxx", style:"width:210px;"
      .field
        = f.label :"パスワード（再確認）", class: "field-font"
        %span 必須
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "xxxxxxx", style:"width:210px;"
      %br/
      %ul 本人確認
      %br/
      %li 安心・安全にご利用いただくために、お客さまの本人
      -# %br/
      %li 情報の登録にご協力ください。他のお客さまに公開さ
      -# %br/
      %li れることはありません。
      %br/
      .personal-information 
        .family-name-kanji
          .zenkaku
            = f.label :"お名前(全角)", class: "field-font"
            %span 必須
          .kaniji
            %input{name:"family_name_kanji", placeholder:"例) 山田", type:"text", style:"width:100px;", value:""}/
            %input{name:"first_name_kanji", placeholder:"例) 太郎", type:"text", style:"width:100px;", value:""}/
        .family-name-kana
          .zenkaku
            = f.label :"お名前カナ(全角)", class: "field-font"
            %span 必須
          .kana
            %input{name:"family_name_kanji", placeholder:"例) ヤマダ", type:"text", style:"width:100px;", value:""}/
            %input{name:"first_name_kanji", placeholder:"例) タロウ", type:"text", style:"width:100px;", value:""}/
        .birthday
          = f.label :"生年月日", class: "field-font"
          %span 必須
          %br/
        .date
          %input{name:"date",type:"date", style:"width:210px;", value:""}/
      .actions
        = f.submit "登録する", class:"registration-btn"
      -# = render "devise/shared/links"
  = image_tag src='material/logo/logo-white.png', size: "200x80", alt: "test",class:"icon2"
