%nav
  %ul
    %li
      = link_to "フリマ", "#"
    %li
      = link_to "マイページ", "/users/id", class:"aa"
    %li.crumb ログアウト
.MyPageTop
  .side-bar
    .side-boxes
      .side-box
        %li マイページ
      .side-box
        %li お知らせ
      .side-box
        %li やることリスト
      .side-box
        %li いいね！一覧
      .side-box
        %li 出品する
      .side-box
        %li 下書き一覧
      .side-box
        %li 出品した商品 - 出品中 
      .side-box
        %li 出品した商品 - 取引中
      .side-box
        %li 出品した商品 - 売却済み
      .side-box
        %li 購入した商品 - 取引中
      .side-box
        %li 購入した商品 - 過去の取引
      .side-box
        %li ニュース一覧
      .side-box
        %li 評価一覧
      .side-box
        %li ガイド
      .side-box
        %li お問い合わせ
    .side-boxes-config
      %p 設定
      .side-box
        %li プロフィール
      .side-box
        %li 発送元・お届け先住所変更
      .side-box
        .credit-box
          = link_to "支払い方法", payment_method_card_path, class: "credit"
      .side-box
        %li メール/パスワード
      .side-box
        %li 本人情報
      .side-box
        %li 電話番号の確認
      .side-box
        .log-out-box
          = link_to "ログアウト", out_user_path, class: "log-out"
  .out-box
    .out
      = link_to "ログアウト", destroy_user_session_path, method:"delete", class: "out-button"