= render 'items/header'
%nav
  %ul
    %li
      = link_to "フリマ", root_path
    %li.crumb マイページ
.MyPageTop
  .side-bar
    .side-boxes
      .side-box
        = link_to "マイページ", "/users/id", class:"moji"
      .side-box
        %li お知らせ
      .side-box
        %li やることリスト
      .side-box
        = link_to  user_favorites_path(@user.id) do
          %li いいね！一覧
      .side-box
        %li 出品する
      .side-box
        %li 下書き一覧
      .side-box
        %li 出品した商品 - 出品中 
      .side-box
        %li 出品した商品 - 取引中
      .side-box
        %li 出品した商品 - 売却済み
      .side-box
        %li 購入した商品 - 取引中
      .side-box
        %li 購入した商品 - 過去の取引
      .side-box
        %li ニュース一覧
      .side-box
        %li 評価一覧
      .side-box
        %li ガイド
      .side-box
        %li お問い合わせ
    .side-boxes-config
      %p 設定
      .side-box
        %li プロフィール
      .side-box
        %li 発送元・お届け先住所変更
      .side-box
        .credit-box
          = link_to "支払い方法", cards_path, class: "credit"
      .side-box
        %li メール/パスワード
      .side-box
        %li 本人情報
      .side-box
        %li 電話番号の確認
      .side-box
        .log-out-box
          = link_to "ログアウト", out_user_path, class: "log-out"
  .main-bar
    .content
      = image_tag 'material/pict/pict-reason-01.jpg', size: "700x220", alt: "test" ,class: "natu"
      .photo
        = image_tag 'material/pict/pict-reason-01.jpg', size: "700x220", alt: "test" ,class: "dog"
      .acount-name
        %li アカウント名
      .information-todo
        .information
          %p お知らせ
        .todo
          %p やることリスト
      .information-lists
        .list
          = image_tag 'material/pict/pict-reason-01.jpg', size: "200x80", alt: "test" ,class: "icon-copy"
          %li お知らせ1
        .list
          = image_tag 'material/pict/pict-reason-01.jpg', size: "200x80", alt: "test" ,class: "icon-copy"
          %li お知らせ2
        .list
          = image_tag 'material/pict/pict-reason-01.jpg', size: "200x80", alt: "test" ,class: "icon-copy"
          %li お知らせ3
        .list
          = image_tag 'material/pict/pict-reason-01.jpg', size: "200x80", alt: "test" ,class: "icon-copy"
          %li お知らせ4
        .information-table
          = link_to "#" , class: "table" do
            %li 一覧を見る
    .items
      .items-title
        %p 購入した商品
      .transaction
        .transactioning
          %p 取引中
        .transactioned
          %p 過去の取引
      .transaction-item
        .transactioning-item
          = image_tag 'material/pict/pict-reason-01.jpg', size: "200x80", alt: "test" ,class: "icon-white-copy"
          %li 取引中の商品はありません
= render 'items/banner'
= render 'items/footer'
= link_to new_item_path do
  .purchaseBtn
    %span.purchaseBtn__text 出品する
    = image_tag 'material/icon/icon_camera.png',alt:"icon", class:"icon"
