= render 'layouts/notifications'
.buyMain
  .confirmItem
    .confirmItem__confirmation
      購入内容の確認
    .confirmItem__info
      .confirmItem__info__content
        .confirmItem__info__content__image
          = image_tag @item.item_images[0].image_url.url, class: "img", size: "80x80", class: "infoImage"
        .confirmItem__info__content__a
          .confirmItem__info__content__a__b
            = @item.name
          .confirmItem__info__content__a__c
            .d
              = @item.postage_payer.name
            .e
              #{@item.price}円
    .confirmItem__price
      .confirmItem__price__info
        .name
          = @item.name
        .data
          #{@item.price}円
    .confirmItem__payment
      .confirmItem__payment__info
        .name
          支払い方法
        .data
          - if @card then
            .user-info-update
              = link_to "変更する", cards_path, class:"update-btn"
            = "************" + @card[:last4]
            %br
            = @card[:exp_month]
            \/
            = @card[:exp_year]
            %br
            = @card[:brand]
          - else
            = link_to new_card_path do
              登録してください
    .confirmItem__destination
      .confirmItem__destination__info
        .name
          配送先  
        .data
          .dateA
            .date__b
              氏名:
            .date__c
              = current_user.destinations[0].destination_family_name
              = current_user.destinations[0].destination_first_name
          .dateA
            .date__b
              郵便番号:
            .date__c
              = current_user.destinations[0].post_code
          .dateA
            .date__b
              都道府県:
            .date__c
              = current_user.destinations[0].prefecture.name
          .dateA
            .date__b
              市町村:
            .date__c
              = current_user.destinations[0].municipality
          .dateA
            .date__b
              番地:
            .date__c
              = current_user.destinations[0].house_number
          - if current_user.destinations[0].building_name != ""
            .dateA
              .date__b
                マンション・アパート名:
              .date__c  
                = current_user.destinations[0].building_name
    .confirmItem__purchase
      .confirmItem__purchase__info
        - if current_user.destinations[0].persisted? && current_user.card == nil
          .text
            カード情報を登録してください
        - elsif current_user.destinations[0] == "" && current_user.card.persisted?
          .text
            送付先情報を登録してください
        - elsif current_user.destinations[0].persisted? && current_user.card.persisted?
          .text
            = link_to purchase_item_path(@item), method: :post, class: "submitBtn" do
              購入する
        - else 
          .text
            カード情報と送付先情報を登録してください

        -# = link_to purchase_item_path(@item), method: :post, class: "submitBtn" do
        -#   購入する
