.buyMain
  .confirmItem
    .confirmItem__confirmation
      購入内容の確認
    .confirmItem__info
      .confirmItem__info__content
        .confirmItem__info__content__image
          = image_tag @item.item_images[0].image_url, class: "img", size: "80x80", class: "infoImage"
        .confirmItem__info__content__a
          .confirmItem__info__content__a__b
            = @item.name
          .confirmItem__info__content__a__c
            .d
              = @item.postage_payer.name
            .e
              = @item.price
    .confirmItem__price
      .confirmItem__price__info
        .name
          支払い金額
        .data
          ¥
          = @item.price
    .confirmItem__payment
      .confirmItem__payment__info
        .name
          支払い方法
        - if @user.cards == []
          .data
            = link_to "登録してください", "#"
        - else
          .data
            ok
    .confirmItem__destination
      .confirmItem__destination__info
        .name
          配送先
        - if @user.destinations == []
          .data
            = link_to "登録してください", "#"
        - else
          .data
            ok
    .confirmItem__purchase
      .confirmItem__purchase__info
        .text
          配送先と支払い方法の入力を確認してください。
        %button.submitBtn{name: "button", type: "submit"}
          購入する
          