.Header
  .mainHeader
    .icon
      = image_tag 'material/logo/logo.png', size:"140x40",alt:"test", class:"icon"
    .searchBox
      = form_with url: search_items_path, method: :get, local: true do |f|
        = f.text_field :name, id: "#searchInput", class: "searchBox__input", name: "key", placeholder: " キーワードから探す"
        = f.submit "検索" ,class: "searchBox__searchButton"
        .searchBox__icon
          = image_tag 'material/icon/icon-search 1.png', size:"25x25", alt:"search", class:"search"      
  .nav
    .nav1
      %p.kategori カテゴリー
      %p.buranndo ブランド
    .nav2
      - if user_signed_in?
        %p.roguinn
          = link_to user_path(current_user) do
            マイページ
      - else
        %p.roguinn 
          = link_to user_session_path do
            ログイン
        %p.toroku
          = link_to new_user_registration_path do
            新規登録
