.main
  .showMain
    .contents
      .topContent
        .itemInfo
          .itemInfo__itemName
            = @item.name
          .itemInfo__itemImage
            %ul
              %li
                = image_tag @item.item_images[0].image_url.url, height: '346px', width: '560px'
                %ul
                  - @item.item_images.each do |image|
                    %li
                      = image_tag image.image_url.url, height: '87px', width: '140px'
          .itemInfo__itemPrice
            %span
              ¥
              = @item.price
            .itemInfo__itemPrice__priceOption
              = @item.postage_payer.name
          .itemInfo__introduction
            = @item.introduction
          .itemTable
            %table
              %tr
                %th 出品者
                %td
                  = @item.user.name
              %tr
                %th カテゴリー
                %td
                  - @category.each do |parent|
                    -if @item.category_id == parent.id
                      = link_to '#' do
                        = parent.name
                        %br
                    - parent.children.each do |child|
                      -if @item.category_id == child.id
                        = link_to '#' do
                          = parent.name
                          %br
                        = link_to '#' do
                          = child.name
                          %br
                      - child.children.each do |grandchild|
                        -if @item.category_id == grandchild.id
                          = link_to '#' do
                            = parent.name
                          %br
                          = link_to '#' do
                            = child.name
                          %br
                          = link_to '#' do
                            = grandchild.name
                          %br

              %tr
                %th ブランド
                %td
                  = @item.brand
              %tr
                %th 商品のサイズ
                %td
              %tr
                %th 商品の状態
                %td
                  = @item.item_condition.name
              %tr
                %th 配送料の負担
                %td
                  = @item.postage_payer.name
              %tr
                %th 発送元の地域
                %td
                  = link_to "#" do
                    = @item.prefecture.name
              %tr
                %th 発送日の目安
                %td
                  = @item.preparation_day.name

          .option
            - if user_signed_in?
              - if @item.user_id == current_user.id
                %button.option__edit{name: "button", type: "submit"}
                  = link_to edit_item_path(@item.id) do
                    %p
                      編集
                %button.option__delete{name: "button", type: "submit"}
                  = link_to item_path(@item.id), method: :delete do
                    %p
                      削除
              - else
                - if @item.buyer_id == nil
                  %button.option__perches{name: "button", type: "submit"}
                    = link_to buy_item_path(@item.id) do
                      %p
                        購入する
                - else
                  .option__sold-out
                    売り切れました
        .commentInfo
          .comment_box
            .messages_box
              - @comments.each do |comment|
                .messages_box__message
                  .user-info
                    .user-info__img
                    -if comment.user_id == @item.user_id
                      .seller
                        出品者
                  .message-info
                    .message-info__name
                      = comment.user.name
                    .message-info__text
                      .message-info__text__message
                        = comment.message
                      .message-info__text__time
                        = comment.created_at.strftime("%Y-%m-%d %H:%M")
            - if user_signed_in?
              = form_with model: [@item, @comment], menaction: "/comts", id: "new_comment", local: true do |f|
                = f.text_area :message, id: "comment_body",wrap: "soft"
                = f.hidden_field :item_id, value: @item.id
                = f.submit "コメントする", class:"commentBtn"
              %p.noticeMsg
                相手のことを考え丁寧なコメントを心がけましょう。
                %br/
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
                %br/
        .link
          .links
            .link-left
              = link_to item_path(@item.id + 1) do
                << 前の商品
            .link-right
              = link_to item_path(@item.id - 1) do
                後ろの商品 >>
        .etcItems
          =link_to "#{@categoryParent.name}  をもっと見る"
        .productLists
          - @items.each do |item|
            .productContent
              %figure.productContent__image
                .productContent__image__main
                  = image_tag item.item_images[0].image_url.url, class: "img"
              .productContent__info
                %h3.name
                  = item.name
                %ul
                  %li
                    =item.price
                %p
                  = item.postage_payer.name
