= render 'layouts/notifications'
.main
  .showMain
    .contents
      .topContent
        .itemInfo
          .itemInfo__itemName
            = @item.name
          .itemInfo__itemImage
            %ul
              %li
                = image_tag @item.item_images[0].image_url.url, height: '346px', width: '560px'
                %ul
                  - @item.item_images.each do |image|
                    %li
                      = image_tag image.image_url.url, height: '87px', width: '140px'
          .itemInfo__itemPrice
            %span 
              ¥
              = @item.price
            .itemInfo__itemPrice__priceOption
              = @item.postage_payer.name
          .itemInfo__introduction
            = @item.introduction
          .itemTable
            %table
              %tr
                %th 出品者
                %td 
                  = @item.user.name
              %tr
                %th カテゴリー
                %td
                  - @category.each do |parent|
                    -if @item.category_id == parent.id
                      = link_to '#' do
                        = parent.name
                        %br
                    - parent.children.each do |child|
                      -if @item.category_id == child.id
                        = link_to '#' do
                          = parent.name
                          %br
                        = link_to '#' do
                          = child.name
                          %br
                      - child.children.each do |grandchild|
                        -if @item.category_id == grandchild.id
                          = link_to '#' do
                            = parent.name
                          %br
                          = link_to '#' do
                            = child.name
                          %br
                          = link_to '#' do
                            = grandchild.name
                          %br

              %tr
                %th ブランド
                %td
                  = @item.brand
              %tr
                %th 商品のサイズ
                %td
              %tr
                %th 商品の状態
                %td 
                  = @item.item_condition.name
              %tr
                %th 配送料の負担
                %td 
                  = @item.postage_payer.name
              %tr
                %th 発送元の地域
                %td
                  = link_to "#" do
                    = @item.prefecture.name
              %tr
                %th 発送日の目安
                %td 
                  = @item.preparation_day.name

          .option
            - if @item.user_id == current_user.id
              %button.option__edit{name: "button", type: "submit"}
                = link_to edit_item_path(@item.id) do
                  %p
                    編集
              %button.option__delete{name: "button", type: "submit"}
                = link_to "#" do
                  %p
                    削除
            - else
              .option_buy
                購入する
        .commentInfo
          %form#new_comment.new_comment{action: "", method: "post"}
            %input{name: "utf8", type: "hidden", value: ""}/
            %input{name: "", type: "hidden", value: ""}/
            %textarea#comment_body{name: "comment[body]", required: "required"}
            %p.noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br/
            %button.commentBtn{name: "button", type: "submit"}
              コメントする
        .link
          %ul.links
            %li
              .link-left
                = link_to "< 前の商品", "#" 
            %li
              .link-right
                = link_to "後ろの商品 >", "#" 
        .etcItems
          =link_to "#{@categoryParent.name}  をもっと見る"
        .productLists
          - @items.each do |item|
            .productContent
              %figure.productContent__image
                .productContent__image__main
                  = image_tag item.item_images[0].image_url.url, class: "img"
              .productContent__info
                %h3.name 
                  = item.name
                %ul
                  %li 
                    =item.price
                %p
                  = item.postage_payer.name

    

