= render 'layouts/notifications'
.hetterLogo
  = link_to image_tag("material/logo/logo.png", class: "hetterLogo__logo"), "/"
.sell
  %section.sell-container
    .sell-container__picture
      .sell__picture
        %h3.sell__picture__text
          出品画像
          %span.sell__picture__photo
            必須
    = form_with model:@item, local: true do |f|
      - if @item.errors.any?
        .alert.alert-warning
          - @item.errors.full_messages.each do |message|
            %li
              = message
      #image-box
        #previews
          - if @item.persisted?
            - @item.item_images.each_with_index do |image, i|
              .previews__field{data: {count: i, index: i}}
                = image_tag image.image_url.url, data: { index: i }, width: "100", height: '100', class: 'images'
                .edit-remove_btn-box{data: {index: i}}
        = f.fields_for :item_images do |image|
          .file{"data-index" => "#{image.index}"}
            = image.file_field :image_url, class: 'js-file'
          - if @item.persisted?
            = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
        %label{for: "item_item_images_attributes_#{@item.item_images.length - 1}_image_url", class: 'image-label'}
          .image-icon
            %i.fas.fa-camera.icon
        -#     %span.js-remove 削除
        -#   - if @item.persisted?
        -#     = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
        -# - if @item.persisted?
        -#   .js-file_group{"data-index" => "#{@item.item_images.count}"}
        -#     = file_field_tag :image_url, name: "item[item_images_attributes][#{@item.item_images.count}][image_url]", class: 'js-file'
        -#     .js-remove 削除

      .sell-container__content
        .sell-title
          %h3.sell-title__text
            商品名
            %span.sell-title__require
              必須
        = f.text_field :name, {class:'sell-container__content__name', required: "required", placeholder: '商品名（必須 40文字まで)'}

        .sell-title
          %h3.sell-title__text2
            商品の説明
            %span.sell-title__require
              必須
        = f.text_area :introduction,{class: 'sell-container__content__description', required: "required", rows: '7', maxlength: '1000', placeholder: ""}
        .sell-container__content__word-count

        .sell-container__content
          %h3.sell-sub-head 商品の詳細
          .sell-container__content__details
            .sell-title
              %h3.sell-title__text3
                カテゴリー
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :category_id, {class: 'sell-collection_select__label'} do
                = f.collection_select :category_id, Category.roots, :id, :name, {prompt: "選択して下さい"},class: "select-category", id: "parent-category"
                %i.fas.fa-chevron-down

            .sell-title
              %h3.sell-title__text4
                商品の状態
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :item_condition_id, {class: 'sell-collection_select__label'} do
                = f.collection_select :item_condition_id, ItemCondition.all, :id, :name, {prompt: '選択して下さい'},{ class: 'sell-collection_select__input', id: 'condition-select', required: "required"}
                %i.fas.fa-chevron-down

        .sell-container__content
          %h3.sell-sub-head2
            %p 配送について
            = link_to "#" do
              %i.far.fa-question-circle
          .sell-container__content__delivery
            .sell-title
              %h3.sell-title__text5
                配送料の負担
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :postage_payer_id, {class: 'sell-collection_select__label'} do
                = f.collection_select :postage_payer_id, PostagePayer.all, :id, :name, {prompt: '選択して下さい'},{ class: 'sell-collection_select__input', id: 'deliverycost-select', required: "required"}
                %i.fas.fa-chevron-down

            .sell-title
              %h3.sell-title__text6
                発送元の地域
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :prefecture_id, class: 'sell-collection_select__label' do
                = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: '選択して下さい'},{ class: 'sell-collection_select__input', id: 'pref-select', required: "required"}
                %i.fas.fa-chevron-down

            .sell-title
              %h3.sell-title__text7
                発送までの日数
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :preparation_day_id, class: 'sell-collection_select__label' do
                = f.collection_select :preparation_day_id, PreparationDay.all, :id, :name, {prompt: '選択して下さい'},{ class: 'sell-collection_select__input', id: 'delivery_days-select', required: "required"}
                %i.fas.fa-chevron-down

        .sell-container__content
          %h3.sell-sub-head3
            = link_to "#" do
              %i.far.fa-question-circle
          .sell-container__content__price
            .sell-title
              %h3.sell-title__text8
                販売価格
                %span.sell-title__require
                  必須
            .sell-container__content__price__form
              = f.label :price, class: 'sell-container__content__price__form__label' do
                ¥
              = f.number_field :price, {placeholder: '0', value: '', autocomplete:"off", class: 'sell-container__content__price__form__box', required: "required"}

          .sell-container__content__commission
            .sell-container__content__commission__left
              販売手数料 （10%）
            .sell-container__content__commission__right ー
          .sell-container__content__profit
            .sell-container__content__profit__left
              販売利益
            .sell-container__content__profit__right ー

      .submit-btn
        = f.submit '出品する', class: 'submit-btn__sell-btn'
        = link_to 'もどる', root_path, class: 'submit-btn__return-btn'
.footerLogo
  .footerLogo__logo
