%nav
  %ul
    %li
      %a{href:"#"} フリマ
    %li
      %a.aa{href:"/users/id"} マイページ
    %li
      %a.aa{href:"/users/id"} 支払い方法
    %li.crumb クレジットカード情報入力
.MyPageTop
  .side-bar
    .side-boxes
      .side-box
        %li マイページ
      .side-box
        %li お知らせ
      .side-box
        %li やることリスト
      .side-box
        %li いいね！一覧
      .side-box
        %li 出品する
      .side-box
        %li 下書き一覧
      .side-box
        %li 出品した商品 - 出品中 
      .side-box
        %li 出品した商品 - 取引中
      .side-box
        %li 出品した商品 - 売却済み
      .side-box
        %li 購入した商品 - 取引中
      .side-box
        %li 購入した商品 - 過去の取引
      .side-box
        %li ニュース一覧
      .side-box
        %li 評価一覧
      .side-box
        %li ガイド
      .side-box
        %li お問い合わせ
    .side-boxes-config
      %p 設定
      .side-box
        %li プロフィール
      .side-box
        %li 発送元・お届け先住所変更
      .side-box
        .credit-box
          = link_to "支払い方法", "#", class: "credit"
      .side-box
        %li メール/パスワード
      .side-box
        %li 本人情報
      .side-box
        %li 電話番号の確認
      .side-box
        .log-out-box
          = link_to "ログアウト", "#", class: "log-out"
  .main-cregit
    .method-cregit
      .li クレジットカード情報入力
    .input-cregit
      = form_tag("#", method: :post, id: 'charge-form', name: "inputForm") do
        .cregit-information 
          %label カード番号
          %span.hissu 必須
          %br/
          = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
          %br
          
        .cregit-information
          %label 有効期限
          %span.hissu 必須
          %br/
          %select#exp_month{name: "exp_month", type: "text"}
            %option{value: ""} --
            %option{value: "1"}01
            %option{value: "2"}02
            %option{value: "3"}03
            %option{value: "4"}04
            %option{value: "5"}05
            %option{value: "6"}06
            %option{value: "7"}07
            %option{value: "8"}08
            %option{value: "9"}09
            %option{value: "10"}10
            %option{value: "11"}11
            %option{value: "12"}12
          %span 月/
          %select#exp_year{name: "exp_year", type: "text"}
            %option{value: ""} --
            %option{value: "2019"}19
            %option{value: "2020"}20
            %option{value: "2021"}21
            %option{value: "2022"}22
            %option{value: "2023"}23
            %option{value: "2024"}24
            %option{value: "2025"}25
            %option{value: "2026"}26
            %option{value: "2027"}27
            %option{value: "2028"}28
            %option{value: "2029"}29
          %span 年
          %br
        .cregit-information
          %label セキュリティコード
          %span.hissu 必須
          %br/
          = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
          #card_token
        .cregit-button
          = submit_tag "追加する", id: "token_submit", class: "button"