= render 'items/header'
%nav
  %ul
    %li
      = link_to "フリマ", root_path
    %li
      = link_to "マイページ", "/users/id", class:"aa"
    %li
      = link_to "支払い方法", cards_path, class:"aa"
    %li.crumb クレジットカード情報入力
.MyPageTop
  .side-bar
    .side-boxes
      .side-box
        %li マイページ
      .side-box
        %li お知らせ
      .side-box
        %li やることリスト
      .side-box
        %li いいね！一覧
      .side-box
        %li 出品する
      .side-box
        %li 下書き一覧
      .side-box
        %li 出品した商品 - 出品中 
      .side-box
        %li 出品した商品 - 取引中
      .side-box
        %li 出品した商品 - 売却済み
      .side-box
        %li 購入した商品 - 取引中
      .side-box
        %li 購入した商品 - 過去の取引
      .side-box
        %li ニュース一覧
      .side-box
        %li 評価一覧
      .side-box
        %li ガイド
      .side-box
        %li お問い合わせ
    .side-boxes-config
      %p 設定
      .side-box
        %li プロフィール
      .side-box
        %li 発送元・お届け先住所変更
      .side-box
        .credit-box
          = link_to "支払い方法", "#", class: "credit"
      .side-box
        %li メール/パスワード
      .side-box
        %li 本人情報
      .side-box
        %li 電話番号の確認
      .side-box
        .log-out-box
          = link_to "ログアウト", out_user_path(current_user), class: "log-out"
  .main-cregit
    .method-cregit
      .li クレジットカード情報入力
    .input-cregit
      = form_with model: @card, local: true, id: "card_form" do |f|
        .cregit-information 
          = f.label "カード番号"
          %span.hissu 必須
          %br/
          = f.text_field :number, required: true, class: "number", placeholder: "1234 5678 1234 5678" ,maxlength: 16, type: "text", id: "card_number_form", style:"width:210px;"
          %br
        .cregit-information
          = f.label "有効期限"
          %span.hissu 必須
          %br/
          = f.select :exp_month, 1..12, {include_blank: "---"}, id: "exp_month_form", style:"height:25px;"
          %span 月/
          = f.select :exp_year, [[20, 2020], [21, 2021], [22, 2022], [23, 2023], [24, 2024], [25, 2025]], {include_blank: "---"}, id: "exp_year_form", style:"height:25px;"
          %span 年
          %br
        .cregit-information
          = f.label "セキュリティコード"
          %span.hissu 必須
          %br/
          = f.text_field :cvc, required: true, class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: 4, id: "cvc_form", style:"width:210px;"
          #card_token
        .cregit-button
          = f.submit "追加する", id: "regist_card", class: "button"
          -# = submit_tag "追加する", id: "token_submit", class: "button"
= render 'items/banner'
= render 'items/footer'
.purchaseBtn
  %span.purchaseBtn__text 出品する
  = image_tag 'material/icon/icon_camera.png',alt:"icon", class:"icon"
          

